body {
  font-family: Book Antiqua Regular, Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin:auto;
  padding-top: 5px;
}

.botao-pequeno {
  width: 10%;             /* Largura */
  height: 30px;            /* Altura (igual à largura para ser quadrado) */
  border-radius: 8px;      /* Cantos arredondados */
  border: #000 solid;         

  background-color: #505050; /* Cor inicial */
  font-size: 20px;         /* Tamanho do texto */
  cursor: pointer;         /* Muda o cursor para "mãozinha" */
  /* 🔑 Alinhamento vertical com os inputs */
  vertical-align: middle;
  
}

.botao-imagem {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

.imagem-do-botao {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

.top-buttons {
  margin: 10px;
  display: grid;
  text-align: center;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 13fr 2fr
}

button {
  font-family: Book Antiqua Regular;
  padding: 5px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to bottom, #4a4b4a, #333333);
  
  color: white;
  cursor: pointer;
  border: 2px solid #242424;
}

button:hover {
  background-color: #0056b3;
}

.ator {
  background-color: #505050;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #bebebe;
  position: relative;
}

.listaAtos {
  height: 500px;           /* Altura fixa da div */
  overflow-y: auto;        /* Cria uma barra de rolagem vertical se necessário */
  border: 1px solid #000;  /* Apenas para visualizar os limites */
  padding: 10px;
}

.historico {
  margin-top: 7px;
  height: 120px;           /* Altura fixa da div */
  overflow-y: auto;        /* Cria uma barra de rolagem vertical se necessário */
  border: 1px solid #000;  /* Apenas para visualizar os limites */
  padding: 10px;
}

.vida {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  padding: 2px 4px;
  font-size: 1em;
  width: 5%; /* ou auto */
}

.vida::-webkit-inner-spin-button,
.vida::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
.sem-setas {
  -moz-appearance: textfield;
}*/

.anotacao {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  padding: 2px 4px;
  font-size: 1em;
  width: auto
}

.cabecalio {
  display: grid;
  text-align: center;
  grid-template-columns: 2533fr 9404fr 1030fr 66903fr 848fr 10351fr 8932fr; /* controle de proporção */
  column-gap: 0px;
}

.nome {
  font-family: Book Antiqua Regular;
  color: white;
  margin: 5px 0;
  padding: 5px;
  width: 50%;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #363233;
  border-radius: 6px;
}

.iniciativa {
  font-family: Book Antiqua Regular;
  color: white;
  margin: 5px 0;
  padding: 2px;
  width: 11%;
  box-sizing: border-box;
  font-size: 20pt;
  text-align: center;
  background-color: #363233;
  border-radius: 6px;
}

.tier {
  font-family: Book Antiqua Regular;
  color: white;
  margin: 5px 0;
  padding: 5px;
  width: 15%;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #363233;
  border-radius: 6px;
}

.status {
  display: flex;
  /*justify-content: space-between;*/
  gap: 10px;
  margin-top: 5px;
}

.duracao {
  width: 10%; /* ou auto */
  background-color: #363233;
}

.statusReal {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  padding: 2px 4px;
  font-size: 1em;
  width: 70%; /* ou auto */
}

.status-container {
  margin-top: 8px;
  border-top: 1px dashed #ccc;
  padding-top: 5px;
}
